
@mixin form($animation-duration, $color-dark, $color-light)

    .login-box
        background: rgba($color-dark, 0.7)
        box-shadow: 0 15px 25px rgba($color-dark, 0.6)

        .user-box

            input
                color: $color-light
                border-bottom: 1px solid $color-dark
                transition: border-bottom-color $animation-duration ease-out

                &:focus, &:valid
                    border-bottom-color: $color-light
                    transition: border-bottom-color $animation-duration ease-in

            label
                color: $color-light