<!-- @see https://codepen.io/DivisonMusic/pen/OeWZMw -->
<div class="container-fluid">
    <div class="row text-center">
        <!--First column-->
        <div class="col-xs-12 col-sm-6 col-md-3 mx-auto">
            <a class="invert_color material-icons" href="" title="Invert colors">invert_colors</a>
        </div>
        <!--/.First column-->
        <!--Second column-->
        <div class="col-xs-12 col-sm-6 col-md-3 mx-auto">
            <h5 class="font-weight-bold">Link 1</h5>
        </div>
        <!--/.Second column-->
        <!--Third column-->
        <div class="col-xs-12 col-sm-6 col-md-3 mx-auto">
            <h5 class="font-weight-bold">Link 2</h5>
        </div>
        <!--/.Third column-->
        <!--Fourth column-->
        <div class="col-xs-12 col-sm-6 col-md-3 mx-auto">
            <h5 class="font-weight-bold">Link 3</h5>
        </div>
        <!--/.Fourth column-->
    </div>
</div>
