<!-- @see https://codepen.io/DivisonMusic/pen/OeWZMw -->
<div class="container-fluid">
    <div class="row text-center">
        <!--First column-->
        <div class="col-xs-12 col-sm-6 col-md-3 mx-auto">
            <a href="" class="invert_color material-icons text-body" title="Invert colors">invert_colors</a>
        </div>
        <!--/.First column-->
        <!--Second column-->
        <div class="col-xs-12 col-sm-6 col-md-3 mx-auto">
            <a href="/" class="material-icons text-body" title="Home">home</a>
        </div>
        <!--/.Second column-->
        <!--Third column-->
        <div class="col-xs-12 col-sm-6 col-md-3 mx-auto">
            <a href="form.html" class="material-icons text-body" title="Sign in">login</a>
        </div>
        <!--/.Third column-->
        <!--Fourth column-->
        <div class="col-xs-12 col-sm-6 col-md-3 mx-auto">
            <a href="login.html" class="material-icons text-body" title="Login">how_to_reg</a>
        </div>
        <!--/.Fourth column-->
    </div>
</div>
